<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="https://i.ibb.co/R7fHGqW/Dev-Quack-Top-Bar.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    DevQuack
  </a>
</nav>

<div class="container">
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="First-Name" placeholder="Enter First Name">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="Last-Name" placeholder="Enter Last Name">
            </div>
            <div class="form-group">
                <label for="userName">User Name</label>
                <input type="text" class="form-control" id="User-Name" placeholder="Enter User Name">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="profileUrl">Profile Url</label>
                <input type="text" class="form-control" id="Profile-Url" placeholder="Enter your Profile Url">
            </div>

            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


<style>
    .container {
        background-color: white;
    }
    .panel-body {
        padding: 15px;
    }
    nav{
       margin-bottom: 10px;
    }

</style>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/profile.css" media="screen" title="no title" charset="utf-8">
<script type="text/javascript">

    $("#submit").on("click", function (event) {
        event.preventDefault();

        console.log("You got clicked");

        //  get values

        var newUser = {
            firstName: $("#First-Name").val().trim(),
            lastName: $("#Last-Name").val().trim(),
            userName: $("#User-Name").val().trim(),
            password: $("#exampleInputPassword1").val().trim(),
            profileUrl: $("#Profile-Url").val().trim()
        }
        if($("#First-Name").val().trim() === '' || $("#Last-Name").val().trim() === '' || $("#User-Name").val().trim() === '' || $("#exampleInputPassword1").val().trim() || $("#Profile-Url").val().trim()){
            alert("Make sure you fill all boxes");
        } else {
            submitUser(newUser);
        }
        
    })
    function submitUser(newUser) {
        $.ajax({
            type: "POST",
            url: "/api/user",
            data: newUser,
            cache: false,
            success: function (data) {
                location.reload();
            }
        }).then(function (data) {
                        if (data.id) {
                            alert("Welcome to our family, your ID is: " + data.id);
                            window.location.href = "/welcome/" + data.id + "/1";
                        }
                    });
    }
</script>